@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Petit+Formal+Script&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.6;
  font-family: "Petit Formal Script", cursive, "Noto Serif JP", serif;
  overflow: visible;
}

.body.inactive {
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 100px;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.blContainer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  position: relative;
  font-size: 6rem;
  font-weight: bold;
  text-align: start;
  padding: 0 20px;
}
.title::before {
  content: "作品";
  position: absolute;
  top: -3px;
  left: 3%;
  color: #777;
  font-size: 1.2rem;
  display: block;
}
.title::after {
  content: "";
  position: absolute;
  background: #777;
  width: 750px;
  height: 1px;
  left: 200px;
  top: 50%;
  display: block;
}
.title.skill_t::before {
  content: "技術";
}
.title.skill_t::after {
  width: 750px;
  left: 180px;
}
.title.service_t::before {
  content: "提供";
}
.title.service_t::after {
  width: 800px;
  left: 250px;
}
.title.contact_t::before {
  content: "お問い合わせ";
}
.title.contact_t::after {
  width: 780px;
  left: 280px;
}

.title_backimg {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

/***************************************************


 header-top animation


*****************************************************/
header {
  overflow: auto;
}
header .header_open {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: -2;
}
header .header_open .header_video_box {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
header .header_open .header_video_box::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.3);
}
header .header_open .header_video_box .header_video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}
header .header_open .header_txt {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
header .header_open .header_txt h1 {
  font-family: "Petit Formal Script", cursive;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12rem;
  white-space: nowrap;
  text-align: center;
}
header .header_open .header_txt h1 > span {
  overflow: hidden;
}
header .header_open .header_txt h1 > span > span {
  display: inline-block;
  -webkit-animation: showTextFromBottom ease-out 6s backwards;
          animation: showTextFromBottom ease-out 6s backwards;
}
@-webkit-keyframes showTextFromBottom {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
    transform: scale(1);
  }
  100% {
    transform: scale(8);
    opacity: 0;
  }
}
@keyframes showTextFromBottom {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
    transform: scale(1);
  }
  100% {
    transform: scale(8);
    opacity: 0;
  }
}
header .header_open .header_scroll {
  display: inline-block;
  position: fixed;
  right: 40px;
  bottom: 0;
  z-index: 2;
  color: #fff;
  padding: 10px 10px 110px;
  overflow: hidden;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  writing-mode: vertical-lr;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
  transition: 0.5s;
}
header .header_open .header_scroll.show {
  opacity: 1;
  visibility: visible;
  transform: none;
}
header .header_open .header_scroll::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
}
header .header_open .header_scroll::after {
  content: "";
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: rgb(255, 255, 255);
  -webkit-animation: sdl 1.5s ease infinite;
          animation: sdl 1.5s ease infinite;
}
@-webkit-keyframes sdl {
  0% {
    transform: translateY(-70px);
  }
  50%, 100% {
    transform: translateY(30px);
  }
}
@keyframes sdl {
  0% {
    transform: translateY(-70px);
  }
  50%, 100% {
    transform: translateY(30px);
  }
}

/***************************************************


 main


*****************************************************/
main {
  width: 100%;
  position: relative;
  background-image: url(../img/main_backimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /**************************************************

    section work

  ***************************************************/
  /**************************************************

    section skill

  ***************************************************/
  /**************************************************

    section service

  ***************************************************/
  /**************************************************

    section contact

  ***************************************************/
}
main .main_top {
  position: fixed;
  top: 0;
  width: 1000px;
  height: 100px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main_top .main_top_logo {
  width: 100px;
  height: 100%;
  transition: 0.5s;
}
main .main_top .main_top_logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
main .main_top .main_top_logo a:hover {
  transform: translateY(-2px) scale(1.1);
  opacity: 0.7;
}
main .main_top_menu_list {
  display: flex;
}
main .main_top_menu_list li {
  width: 125px;
}
main .main_top_menu_list li a {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  font-size: 1.8rem;
  font-weight: bold;
  transition: 0.5s;
}
main .main_top_menu_list li a:hover {
  transform: translateY(-2px) scale(1.1);
  opacity: 0.7;
}
main .work {
  padding-top: 100px;
  margin-bottom: 200px;
  position: relative;
}
main .work .title_backimg {
  position: absolute;
  top: 16%;
  left: auto;
  right: 8.5%;
  background-image: url("../img/work_backimg.jpg");
  width: calc(50vw + 50%);
  height: 180px;
}
main .work .title {
  margin-top: 200px;
}
main .work .work_list {
  margin-top: 200px;
  display: flex;
  position: relative;
  justify-content: center;
  font-family: "Noto Serif JP", serif;
  height: 400px;
}
main .work .work_list.english {
  margin-top: 200px;
  flex-direction: row-reverse;
  gap: 50px;
}
main .work .work_list .work_list_txt {
  width: 40%;
  padding-top: 50px;
  padding-left: 20px;
}
main .work .work_list .work_list_txt .work_list_title {
  font-size: 2.4rem;
  font-weight: bold;
}
main .work .work_list .work_list_txt p {
  padding-top: 5px;
  font-size: 1.6rem;
}
main .work .work_list .work_list_txt .work_list_link {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 30px;
  transition: 0.5s;
}
main .work .work_list .work_list_txt .work_list_link::before {
  content: "";
  position: absolute;
  top: 12%;
  right: -35%;
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  transition: 0.5s;
}
main .work .work_list .work_list_txt .work_list_link::after {
  content: "";
  position: absolute;
  top: 42%;
  right: -25%;
  width: 60px;
  height: 8px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  transform: skew(45deg);
  transition: 0.5s;
}
main .work .work_list .work_list_txt .work_list_link:hover {
  transform: translateX(50px);
}
main .work .work_list .work_list_txt .work_list_link:hover::before {
  content: "";
  width: 170px;
  transform: scale(1.3);
}
main .work .work_list .work_list_txt .work_list_link:hover::after {
  right: -70%;
  opacity: 0.7;
}
main .work .work_list .work_items {
  position: relative;
  width: 60%;
}
main .work .work_list .work_items .work_list_items .work_list_item a {
  top: 0;
  left: 15%;
  position: absolute;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  width: 80%;
  height: 300px;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
}
main .work .work_list .work_items .work_list_items .work_list_item a img {
  -o-object-fit: cover;
     object-fit: cover;
}
main .work .work_list .work_items .work_list_items .work_list_item.item1 {
  position: relative;
}
main .work .work_list .work_items .work_list_items .work_list_item.item1 img {
  transition: 1s;
}
main .work .work_list .work_items .work_list_items .work_list_item.item1 .work_list_item_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50px);
  padding: 10px 20px;
  background-color: rgba(216, 191, 216, 0.8);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  width: 150px;
  height: 50px;
  font-size: 1.8rem;
  visibility: hidden;
  color: #fff;
  opacity: 0;
  transition: 1s;
  border-radius: 50px;
}
main .work .work_list .work_items .work_list_items .work_list_item.item1 .work_list_item_txt::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 18%;
  width: 20px;
  height: 8px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: skew(45deg);
  transition: 0.5s;
}
main .work .work_list .work_items .work_list_items .work_list_item.item1:hover img {
  opacity: 0;
}
main .work .work_list .work_items .work_list_items .work_list_item.item1:hover .work_list_item_txt {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -30px);
}
main .work .work_list .work_items .work_list_items .work_list_item.item2 a {
  top: 70px;
  right: 0%;
  transform: rotate(10deg);
  z-index: 2;
}
main .work .work_list .work_items .work_list_box {
  position: absolute;
  width: 480px;
  height: 350px;
  top: 30px;
  right: 5%;
  transform: rotate(15deg);
  background-color: rgba(255, 182, 193, 0.5);
  box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
}
main .work .work_list .work_items .work_list_box.list2 {
  top: 10px;
  right: 5%;
  transform: rotate(-15deg);
  background-color: rgba(216, 191, 216, 0.8);
  box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
}
main .skill {
  position: relative;
  height: 1000px;
}
main .skill .title_backimg {
  position: absolute;
  top: -5%;
  right: -22%;
  left: auto;
  background-image: url("../img/skill.jpg");
  width: calc(50vw + 46%);
  height: 350px;
}
main .skill .skill_lists {
  position: relative;
  margin-top: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-family: "Noto Serif JP", serif;
  z-index: 2;
}
main .skill .skill_lists .skill_list {
  position: absolute;
  padding: 30px;
  background-color: rgba(255, 182, 193, 0.5);
  border-radius: 50%;
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.2);
  -webkit-animation: fluffy1 5s 1s ease-out 2;
          animation: fluffy1 5s 1s ease-out 2;
}
@-webkit-keyframes fluffy1 {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  25% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fluffy1 {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  25% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
main .skill .skill_lists .skill_list:nth-last-of-type(odd) {
  background-color: rgba(216, 191, 216, 0.8);
}
main .skill .skill_lists .skill_list:nth-last-of-type(odd)::before {
  color: rgb(255, 182, 193);
}
main .skill .skill_lists .skill_list::before {
  content: "01";
  position: absolute;
  top: -28%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 70px;
  text-align: center;
  font-size: 8rem;
  color: rgb(216, 191, 216);
  font-weight: bold;
  border-radius: 80px/4px;
}
main .skill .skill_lists .skill_list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 8px;
  box-shadow: 0 40px 15px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border-radius: 80px/4px;
}
main .skill .skill_lists .skill_list h2 {
  margin-top: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
main .skill .skill_lists .skill_list p {
  margin-top: 30px;
  padding: 0 25px 0 30px;
  font-size: 1.4rem;
  line-height: 1.6;
}
main .skill .skill_lists .skill_list.list1 {
  height: 280px;
  width: 30%;
  top: 50%;
  left: 15%;
  width: 30%;
}
main .skill .skill_lists .skill_list.list2 {
  height: 280px;
  width: 30%;
  top: 50%;
  left: 55%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
main .skill .skill_lists .skill_list.list2::before {
  content: "02";
}
main .skill .skill_lists .skill_list.list3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  height: 330px;
  width: 35%;
  top: 400px;
  left: -5%;
}
main .skill .skill_lists .skill_list.list3::before {
  content: "03";
  top: -23%;
}
main .skill .skill_lists .skill_list.list4 {
  height: 330px;
  width: 35%;
  top: 400px;
  left: 32%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
main .skill .skill_lists .skill_list.list4::before {
  content: "04";
  top: -23%;
}
main .skill .skill_lists .skill_list.list5 {
  height: 330px;
  width: 35%;
  top: 400px;
  left: 69%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
main .skill .skill_lists .skill_list.list5::before {
  content: "05";
  top: -23%;
}
main .service {
  height: 500px;
  margin-top: 100px;
  border: 1px solid rgba(216, 191, 216, 0.8);
}
main .contact {
  height: 1100px;
  margin-top: 100px;
}
main .contact .contact_lists {
  width: 70%;
  margin: 50px auto;
}
main .contact .contact_lists .contact_list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  font-size: 1.6rem;
}
main .contact .contact_lists .contact_list:nth-of-type(1)::after, main .contact .contact_lists .contact_list:nth-of-type(2)::after {
  position: absolute;
  content: "※ 必須";
  top: 7%;
  left: 5%;
  color: red;
  font-size: 7px;
}
main .contact .contact_lists .contact_list input {
  margin-top: 5px;
  height: 50px;
  font-size: 1.6rem;
  padding: 10px;
}
main .contact .contact_lists .contact_list textarea {
  margin-top: 5px;
  height: 150px;
  font-size: 1.6rem;
  padding: 10px;
  resize: none;
  width: 100%;
}

/**************************************************

    footer

  ***************************************************/
footer {
  height: 200px;
  position: relative;
  background-image: url(../img/footer_backimg.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  display: grid;
  justify-items: center;
  align-items: center;
}
footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
footer p {
  font-size: 1.6rem;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */