@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Petit+Formal+Script&display=swap');

$margin-top: 100px;
$margin-bottom: 200px;
$main-color: rgb(255, 182, 193);
$main-backcolor: rgba(255, 182, 193, 0.5); 
$sub-color: rgb(216, 191, 216);
$sub-backcolor: rgb(216, 191, 216,0.8);

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.6;
  font-family: 'Petit Formal Script', cursive,'Noto Serif JP', serif;
  overflow: visible;
}

.body.inactive {
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 100px;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
	vertical-align: bottom;
}

// 基本のコンテンツ幅
.blContainer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.title {
  position: relative;
  font-size: 6rem;
  font-weight: bold;
  text-align: start;
  &::before {
    content: "作品";
    position: absolute;
    top: -8px;
    left: 1%;
    color: #777;
    font-size: 1.2rem;
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    background: #777;
    width: 850px;
    height: 1px;
    left: 200px;
    top: 50%;
    display: block;
  }
  &.skill_t {
    &::before {
      content: "技術";
    }
    &::after {
      width: 800px;
      left: 250px;
    }
  }
  &.quality_t {
    &::before {
      content: "こだわり";
    }
    &::after {
      width: 800px;
      left: 250px;
    }
  }
  &.about_t {
    &::before {
      content: "私について";
    }
    &::after {
      width: 780px;
      left: 280px;
    }
  }
}

/***************************************************


 header-top animation


*****************************************************/
header {
  overflow: auto;
  .header_open {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: -2;
    .header_video_box {
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 100vh;
      width: 100%;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.3);
      }
      .header_video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }
      }
    .header_txt {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      h1 {
        font-family: 'Petit Formal Script', cursive;
        color: rgba(255,255,255,0.7);
        font-size: 12rem;
        white-space: nowrap;
        text-align: center;
        > span {
          overflow: hidden;
          > span {
            display: inline-block;
            animation: showTextFromBottom ease-out 6s backwards;
          }
          }
        @keyframes showTextFromBottom {
          0%{
            opacity: 0;
            transform: translateY(300px);
          }
          50% {
            opacity: 1;
            transform: translateY(0px);
            transform: scale(1);
          }
          100% {
            transform: scale(8);
            opacity: 0;
          }
        }
      }
    } //header_txt
    .header_scroll {
      display: inline-block;
      position: fixed;
      right: 40px;
      bottom: 0;
      z-index: 2;
      color: #fff;
      padding: 10px 10px 110px;
      overflow: hidden;
      font-size: 14px;
      font-family: 'Josefin Sans', sans-serif;
      line-height: 1;
      letter-spacing: .2em;
      text-transform: uppercase;
      text-decoration: none;
      writing-mode: vertical-lr;
      opacity: 0;
      visibility: hidden;
      transform: translateY(100px);
      transition: .5s;
      &.show {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 2px;
        height: 100px;
        background-color: rgba(255, 255, 255,0.4);
      }
      &::after {
        content: '';
        height: 30px;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 2px;
        background-color: rgba(255,255,255);
        animation: sdl 1.5s ease infinite;
      }
      @keyframes sdl {
        0% {
          transform: translateY(-70px);
        }
        50%, 100% {
          transform: translateY(30px);
        }
      }
    } //header_scroll
  } //header_open
} //haeder

/***************************************************


 main


*****************************************************/
main {
  position: relative;
  background-image: url(../img/main_backimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 10000px;//後で削除
  .main_top {
    position: fixed;
    top: 0;
    width: 1000px;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main_top_logo {
      width: 100px;
      height: 100%;
      transition: .5s;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: .5s;     
        &:hover {
          transform: translateY(-2px) scale(1.1);
          opacity: 0.7;
        }
      }
     }
  } //main_top
  .main_top_menu_list {
    display: flex;
    li {
      width: calc(500px / 4);
        a {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 20px 0;
        font-size: 1.8rem;
        font-weight: bold;
        transition: .5s;
        &:hover {
          transform: translateY(-2px) scale(1.1);
          opacity: 0.7;
        }
      }
    }
  } //main_top_menu_list
  /**************************************************

    section work

  ***************************************************/ 
  .work {
    padding-top: $margin-top;
    margin-bottom: $margin-bottom;
    .title {
      margin-top: 200px;
    }
    .work_list {
      margin-top: $margin-top;
      display: flex;
      position: relative;
      justify-content: center;
      font-family: 'Noto Serif JP', serif;
      height: 400px;
      &.english {
        margin-top: 200px;
        flex-direction: row-reverse;
        gap: 50px;
      }
      .work_list_txt {
        width: 40%;
        padding-top: 50px;
        padding-left: 20px;
        .work_list_title {
          font-size: 2.4rem;
          font-weight: bold;
        }
        p {
          padding-top: 5px;
          font-size: 1.6rem;
        }
        .work_list_link {
          margin-top: 30px;
          position: relative;
          display: inline-block;
          font-size: 2rem;
          font-weight: bold;
          padding: 0 30px;
          transition: .5s;
          &::before {
            content: "";
            position: absolute;
            top: 12%;
            right: -35%;
            width: 30px;
            height: 30px;
            border: 1px solid #333;
            transition: .5s;
          }
          &::after {
            content: "";
            position: absolute;
            top: 42%;
            right: -25%;
            width: 60px;
            height: 8px;
            border-bottom: 1px solid #333;
            border-right: 1px solid #333;
            transform: skew(45deg);
            transition: .5s;
          }
          &:hover{
            transform: translateX(50px);
            &::before {
              content: "";
              width: 170px;
              transform: scale(1.3);
            }
            &::after {
              right: -70%;
              opacity: 0.7;
            }
          }
        }
      }
      .work_items {
        position: relative;
        width: 60%;
        .work_list_items {
          .work_list_item {
            a {
              top: 0;
              left: 15%;
              position: absolute;
              display: inline-block;
              border: 1px solid #ccc;
              padding: 10px;
              width: 80%;
              height: 300px;
              z-index: 3;
              background-color: rgba(255,255,255,0.7);
              box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
              img {
                object-fit: cover;
              }
            }
          }
          //work_list_item
          .work_list_item.item1 {
            position: relative;
            img {
              transition: 1s;
            }
            .work_list_item_txt {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50px);
              padding: 10px 20px;
              background-color: $sub-backcolor;
              box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
              width: 150px;
              height: 50px;
              font-size: 1.8rem;
              visibility: hidden;
              color: #fff;
              opacity: 0;
              transition: 1s;
              border-radius: 50px;
              &::after {
                content: "";
                position: absolute;
                top: 40%;
                right: 18%;
                width: 20px;
                height: 8px;
                border-bottom: 1px solid #fff;
                border-right: 1px solid #fff;
                transform: skew(45deg);
                transition: .5s;
              }
            }
            &:hover {
              img {
              opacity: 0;
              }
              .work_list_item_txt {
                visibility: visible;
                opacity: 1;
                transform: translate(-50%,-30px);
              }
            }
          }
          .work_list_item.item2 a {
            top: 70px;
            right: 0%;
            transform: rotate(10deg);
            z-index: 2;
          }
        }//work_list_items
        .work_list_box {
          position: absolute;
          width: 480px;
          height: 350px;
          top: 30px;
          right: 5%;
          transform: rotate(15deg);
          background-color: $main-backcolor;
          box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
        }
        .work_list_box.list2 {
          top: 10px;
          right: 5%;
          transform: rotate(-15deg);
          background-color: $sub-backcolor;
          box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
        }
      } //work_items
    } //work_list
  } //section work

  /**************************************************

    section skill

  ***************************************************/
  .skill {
    height: 1000px;//後で削除
  }
} //main
