@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Petit+Formal+Script&display=swap');

$margin-top: 100px;
$main-color: rgb(255, 182, 193);
$main-backcolor: rgb(255, 182, 193,0.4); 
$sub-color: rgb(216, 191, 216);
$sub-backcolor: rgb(216, 191, 216,0.7);

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  color: #777;
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Petit Formal Script', cursive;
  overflow: visible;
}

.body.inactive {
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 100px;
}
a {
  color: #777;
  text-decoration: none;
}

img {
  max-width: 100%;
	vertical-align: bottom;
}

// 基本のコンテンツ幅
.blContainer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

.sub_title {
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 30px;
}

/***************************************************


 header-top animation


*****************************************************/
header {
  .header_open {
    position: relative;
    .header_video_box {
      position: relative;
      overflow: hidden;
      height: 100vh;
      width: 100%;
      height: 100vh;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.3);
      }
      .header_video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }
      }
    .header_txt {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      h1 {
        font-family: 'Petit Formal Script', cursive;
        color: rgba(255,255,255,0.7);
        font-size: 12rem;
        white-space: nowrap;
        text-align: center;
        > span {
          overflow: hidden;
          > span {
            display: inline-block;
            animation: showTextFromBottom ease-out 6s backwards;
          }
          }
        @keyframes showTextFromBottom {
          0%{
            opacity: 0;
            transform: translateY(300px);
          }
          50% {
            opacity: 1;
            transform: translateY(0px);
            transform: scale(1);
          }
          100% {
            transform: scale(8);
            opacity: 0;
          }
        }
      }
    } //header_txt
    .header_scroll {
      display: inline-block;
      position: absolute;
      right: 40px;
      bottom: 0;
      z-index: 2;
      color: #fff;
      padding: 10px 10px 110px;
      overflow: hidden;
      font-size: 14px;
      font-family: 'Josefin Sans', sans-serif;
      line-height: 1;
      letter-spacing: .2em;
      text-transform: uppercase;
      text-decoration: none;
      writing-mode: vertical-lr;
      opacity: 0;
      visibility: hidden;
      transform: translateY(100px);
      transition: .5s;
      &.show {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 2px;
        height: 100px;
        background-color: rgba(255, 255, 255,0.6);
      }
      &::after {
        content: '';
        height: 30px;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 2px;
        background-color: rgba(255,255,255);
        animation: sdl 1.5s ease infinite;
      }
      @keyframes sdl {
        0% {
          transform: translateY(-70px);
        }
        50%, 100% {
          transform: translateY(30px);
        }
      }
    }
  }
  .header_top {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: rgba(255,255,255);
    z-index: 10;
    .blContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header_top_logo {
        width: 100px;
        height: 100%;
        transition: .5s;
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          transition: .5s;     
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .header_top_menu_list {
      display: flex;
      li {
        width: calc(300px / 3);
        a {
          display: inline-block;
          text-align: center;
          width: 100%;
          padding: 20px 0;
          font-size: 2rem;
          transition: .5s;
          &:hover {
            transform: translateY(-2px) scale(1.1);
            opacity: 0.7;
          }
        }
      }
    }
  }
}

/***************************************************


 main


*****************************************************/
main {
  height: 100vh;
  .work {
    padding-top: $margin-top;
    .title {
      margin-top: $margin-top;
    }
    .work_list {
      margin-top: $margin-top;
      position: relative;
      .work_list_items {
        .work_list_item {
          a {
            position: absolute;
            display: inline-block;
            border: 1px solid #ccc;
            top: 80px;
            right: 15%;
            transform: rotate(-10deg);
            padding: 10px;
            width: 40%;
            height: 250px;
            z-index: 3;
            background-color: rgba(255,255,255,0.7);
            box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
            img {
              object-fit: cover;
            }
          }
        }
        //work_list_item
        .work_list_item.item1 {
          &:hover img {
            opacity: 0;
          }
          img {
            transition: 1s;
          }
        }
        .work_list_item.item2 a {
          top: 60px;
          right: 10%;
          transform: rotate(10deg);
          z-index: 2;
        }
      }//work_list_items
      .work_list_box {
        position: absolute;
        width: 450px;
        height: 300px;
        top: 30px;
        right: 10%;
        transform: rotate(15deg);
        background-color: $main-backcolor;
        box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
      }
      .work_list_box.list2 {
        top: 10px;
        right: 12%;
        transform: rotate(-15deg);
        background-color: $sub-backcolor;
        box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
      }
    }
  }//section wor
} //main
















// 
// .k