@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Petit+Formal+Script&display=swap');

@mixin mq($breakpoint){
	@media screen and (max-width:$breakpoint){
		@content;
	}
}
 // メディアクエリブレイクポイント
 $lg: 1280px;
 $md: 1000px;
 $sm: 767px;
 $xs: 380px;

//その他の変数
$margin-top: 100px;
$margin-bottom: 200px;
$main-color: rgb(255, 182, 193);
$main-backcolor: rgba(255, 182, 193, 0.5); 
$sub-color: rgb(216, 191, 216);
$sub-backcolor: rgb(216, 191, 216,0.7);


/***************************************************


　共通


*****************************************************/

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.6;
  font-family: 'Petit Formal Script', cursive,'Noto Serif JP', serif;
  overflow: visible;
}

.body.inactive {
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 100px;
}

a {
  color: #333;
  text-decoration: none;
}

html,body,a {
  cursor: none;
}

img {
  max-width: 100%;
	vertical-align: bottom;
}

// 基本のコンテンツ幅
.blContainer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @include mq($md) {
    max-width: 100%;
    }
}

.title {
  position: relative;
  font-size: 6rem;
  font-weight: bold;
  text-align: start;
  padding: 0 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: 1s;
  &.scroll_animation.show {
    opacity: 1;
    visibility: visible;
    transform: none;
    &::after {
      content: "";
      position: absolute;
      background: #777;
      height: 1px;
      top: 50%;
      left: 200px;
      animation: border_anim 3s linear forwards;
      @keyframes border_anim {
        0%{
          width: 0%;
        }
        100%{
          width: 65%;
        }
      } //border_anim
      @include mq($md) {
        left: 130px;
      }
      @include mq($xs) {
        left: 100px;
      }
    } //after
    &.skill_t::after {
      left: 200px;
      @include mq($md) {
        left: 130px;
      }
      @include mq($xs) {
        left: 90px;
      }
    }
    &.service_t::after {
      left: 250px;
      @include mq($md) {
        left: 180px;
      }
      @include mq($xs) {
        left: 120px;
      }
    }
    &.contact_t::after {
      left: 270px;
      @include mq($md) {
        left: 180px;
      }
      @include mq($xs) {
        left: 130px;
      }
    }
  } //.scroll_animation.show
  &::before {
    content: "作品";
    position: absolute;
    top: -3px;
    color: #777;
    font-size: 1.2rem;
    display: block;
    @include mq($xs) {
      top: -10px;
    }
  } //before
  &.skill_t {
    &::before {
      content: "技術";
    }
  }
  &.service_t {
    &::before {
      content: "提供";
    }
  }
  &.contact_t {
    &::before {
      content: "お問い合わせ";
    }
  }
  @include mq($md) {
    font-size: 4rem;
  }
  @include mq($xs) {
    font-size: 3rem;
    padding-left: 0;
  }
} //.title

.title_backimg {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}
/***************************************************


 ローディング画面


*****************************************************/
.bl_loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(68, 68, 68);
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.bl_loading.loaded {
  opacity: 0;
  visibility: hidden;
}

/***************************************************


 header-top animation


*****************************************************/
header {
  overflow: auto;
  .header_open {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: -2;
    .header_video_box {
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 100vh;
      width: 100%;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.3);
      }
      .header_video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }
      }
    .header_txt {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      h1 {
        font-family: 'Petit Formal Script', cursive;
        color: rgba(255,255,255,0.7);
        font-size: 10rem;
        white-space: nowrap;
        text-align: center;
        > span {
          overflow: hidden;
          > span {
            display: inline-block;
            animation: showTextFromBottom ease-out 6s backwards;
          }
          }
        @keyframes showTextFromBottom {
          0%{
            opacity: 0;
            transform: translateY(300px);
          }
          50% {
            opacity: 1;
            transform: translateY(0px);
            transform: scale(1);
          }
          100% {
            transform: scale(8);
            opacity: 0;
          }
        }
        @include mq($md) {
          font-size: 8rem;
        }
        @include mq($sm) {
          font-size: 3.7rem;
        }
        @include mq($xs) {
          font-size: 2.5rem;
        }
      } //header_txt h1
    } //header_txt
    .header_scroll {
      display: inline-block;
      position: fixed;
      right: 40px;
      bottom: 0;
      z-index: 2;
      color: #fff;
      padding: 10px 10px 110px;
      overflow: hidden;
      font-size: 1.4rem;
      font-family: 'Josefin Sans', sans-serif;
      line-height: 1;
      letter-spacing: .2em;
      text-transform: uppercase;
      text-decoration: none;
      writing-mode: vertical-lr;
      opacity: 0;
      visibility: hidden;
      transform: translateY(100px);
      transition: .5s;
      &.show {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 2px;
        height: 100px;
        background-color: rgba(255, 255, 255,0.4);
      }
      &::after {
        content: '';
        height: 30px;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 2px;
        background-color: rgba(255,255,255);
        animation: sdl 1.5s ease infinite;
      }
      @keyframes sdl {
        0% {
          transform: translateY(-70px);
        }
        50%, 100% {
          transform: translateY(30px);
        }
      }
      @include mq($sm) {
        font-size: 1.2rem;
      }
      @include mq($xs) {
        font-size: 1rem;
      }
    } //header_scroll
  } //header_open
} //haeder

/***************************************************


 main


*****************************************************/
main {
  width: 100%;
  position: relative;
  background-image: url(../img/main_backimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: $margin-top;
  @include mq($md) {
    background-image: url(../img/main_backimg_opa.png);
    background-position: 80% 20%;
  }
  @include mq($sm) {
    padding-top: 5px;
  }
  .main_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 30px;
    height: 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    @include mq($md) {
      width: 100%;
    }
    &.inActive {
      transform: translateY(-100%);
    }
    .main_top_logo {
      width: 100px;
      transition: .5s;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: .5s;     
        &:hover {
          transform: translateY(-2px) scale(1.1);
          opacity: 0.7;
        }
      }
    } //main_top_logo
    .main_top_menu_list {
      display: flex;
      li {
        width: calc(500px / 4);
        a {
          display: inline-block;
          text-align: center;
        width: 100%;
        padding: 20px 0;
        font-size: 1.8rem;
        font-weight: bold;
        transition: .5s;
        &:hover {
          transform: translateY(-2px) scale(1.1);
          opacity: 0.7;
          }
        }
      }
      @include mq($sm) {
        display: none;
      }
    } //main_top_menu_list
    // スマートフォン用三本線メニュー
    .main_menu_sm {
      display: none;
      @include mq($sm) {
        position: fixed;
        display: block;
        width: 50px;
        height: 50px;
        right: 50px;
        top: 20px;
      }
      .main_top_menuButton_list {
        height: 1px;
        width: 50px;
        background-color: #333;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        transition: all .5s;
        &:nth-of-type(1) {
          transform: translate(-50%,-15px);
        }
        &:nth-of-type(3) {
          transform: translate(-50%,15px);
        }
      }
      &.active {
        transform: rotate(90deg);
        .main_top_menuButton_list {
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(1) {
            transform: rotate(45deg) translate(-50%,0);
            transform-origin: 0% 50%;
          }
          &:nth-of-type(3) {
            transform: rotate(-45deg) translate(-50%,0);
            transform-origin: 0% 50%;
          }
        }
      }
    } //main_menu_sm
  } //main_top
  
/*--------------------------------

   mask・ハンバーガーメニューの内容

-----------------------------------*/
.menuButton_mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 1;
  z-index: 30;
  background-color: #ddd;
  transition: .3s;
}
.menuButton_mask.active {
  opacity: 0.9;
  visibility: visible;
}
.humbuger_menu {
  position: fixed;
  top: 0;
  right: 0;
  height:470px;
  width: 100%;
  z-index: 50;
  background-color: #fff;
  transform: translateY(-100%);
  transition: .5s;
  ul {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  &.active {
    transform: translateY(0);
  }
  .humbuger_menu_list{
    width: 100%;
   a {
   display: block;
   padding: 20px;
   width: 70%;
   font-size: 1.8rem;
   margin-left: 10%;
   border-bottom: 1px solid #ccc;
   font-family: 'Noto Serif JP', serif;
    }
    &:nth-of-type(1) {
      a {
        border-top: 1px solid #ccc;
      }
    }
  }   
} //humbuger_menu

  /**************************************************

    section work

  ***************************************************/ 
  .work {
    margin-bottom: $margin-bottom + 100px;
    position: relative;
    .title_backimg {
      position: absolute;
      top: -3.5%;
      left: auto;
      right: 8.5%;
      background-image: url('../img/work_backimg.jpg');
      width: calc(50vw + 50%);
      height: 180px;
      @include mq($md) {
        left: 0;
        right: 0;
        width: 70%;
      }
      @include mq($md) {
        top: -10px;
        height: 70px;
      }
      } //title_backimg
    .title {
      margin-top: 200px;
      @include mq($md) {
        margin-top: 30px;
      }
    }
    .work_list {
      margin-top: $margin-top + 100px;
      display: flex;
      position: relative;
      justify-content: center;
      font-family: 'Noto Serif JP', serif;
      height: 400px;
      @include mq($md) {
        margin-top: 0;
        height: 700px;
        flex-direction: column;
      }
      @include mq($sm) {
        height: 370px;
      }
      @include mq($xs) {
        height: 320px;
      }
      &:nth-of-type(2) .work_list_txt  {
        transform: translateX(70px);
        @include mq($md) {
          transform: translateX(-70px);
        }
      }
      &.scroll_animation.show .work_list_txt,
      &.scroll_animation.show .work_items {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
      &.english {
        margin-top: 200px;
        flex-direction: row-reverse;
        gap: 50px;
        @include mq($md) {
          flex-direction: column-reverse;
        }
        @include mq($sm) {
          margin-top: 30%;
        }
        .work_list_txt {
          @include mq($md) {
            top: -80px;
          }
        }
        .work_items {
          .work_list_item {
            @include mq($md) {
              top: -100px;
            }
            @include mq($xs) {
              top: -90px;
            }
          }
          .work_list_box {
            @include mq($md) {
              top: -150px;
            }
            &.list2 {
              @include mq($md) {
                top: -150px;
              }
            }
          }
        } //work_items
      }
      .work_list_txt {
        width: 40%;
        padding-top: 50px;
        padding-left: 20px;
        transform: translateX(-70px);
        opacity: 0;
        visibility: hidden;
        transition: 2s;
        .work_list_title {
          font-size: 2.4rem;
          font-weight: bold;
          @include mq($md) {
            font-size: 1.8rem;
          }
          span {
            @include mq($xs) {
              font-size: 1rem;
            }
          }
        }
        p {
          padding-top: 5px;
          padding-left: 30px;
          font-size: 1.6rem;
          .br-none {
            @include mq($xs) {
              display: none;
            }
          }
        }
        .work_list_link {
          margin-top: 30px;
          position: relative;
          display: inline-block;
          font-size: 2rem;
          font-weight: bold;
          padding: 0 30px;
          transition: .5s;
          &::before {
            content: "";
            position: absolute;
            top: 12%;
            right: -35%;
            width: 30px;
            height: 30px;
            border: 1px solid #333;
            transition: .5s;
          }
          &::after {
            content: "";
            position: absolute;
            top: 42%;
            right: -25%;
            width: 60px;
            height: 8px;
            border-bottom: 1px solid #333;
            border-right: 1px solid #333;
            transform: skew(45deg);
            transition: .5s;
          }
          &:hover{
            transform: translateX(50px);
            &::before {
              content: "";
              width: 170px;
              transform: scale(1.3);
            }
            &::after {
              right: -70%;
              opacity: 0.7;
            }
          }
          @include mq($sm) {
            font-size: 1.8rem;
            margin-top: 10px;
          }
        }
        @include mq($md) {
          width: 80%;
          top: 20px;
          left: 3%;
          position: absolute;
        }
        @include mq($sm) {
          width: 100%;
          padding-top: 10px;
          padding-left: 0;
          left: 0;
        }
      } //work_list_txt
      .work_items {
        position: relative;
        width: 60%;
        transform: translateY(70px);
        opacity: 0;
        visibility: hidden;
        transition: 2s;
        .work_list_items {
          .work_list_item {
            a {
              top: 0;
              left: 15%;
              position: absolute;
              display: block;
              border: 1px solid #ccc;
              padding: 10px;
              width: 80%;
              height: 300px;
              z-index: 3;
              background-color: rgba(255,255,255,0.7);
              box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
              @include mq($md) {
                height: 340px;
                width: 550px;
                top: -30px;
                left: 40%;
                right: 50%;
                margin: auto;
              }
              @include mq($sm) {
                height: 100%;
                width: 120%;
                top: -20px;
                left: 20%;
                right: 0;
                margin: auto;
                background-color:transparent;
                border: 0;
              }
              @include mq($xs) {
                top: 0;
                left: 10%;
                width: 130%;
              }
              img {
                object-fit: cover;
              }
            }
            @include mq($md) {
              z-index: 3;
            }

          } //work_list_item
          .work_list_item.item1 {
            position: relative;
            img {
              transition: 1s;
            }
            .work_list_item_txt {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50px);
              padding: 10px 20px;
              background-color: $sub-backcolor;
              box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
              width: 150px;
              height: 50px;
              font-size: 1.8rem;
              visibility: hidden;
              color: #fff;
              opacity: 0;
              transition: 1s;
              border-radius: 50px;
              &::after {
                content: "";
                position: absolute;
                top: 40%;
                right: 18%;
                width: 20px;
                height: 8px;
                border-bottom: 1px solid #fff;
                border-right: 1px solid #fff;
                transform: skew(45deg);
                transition: .5s;
              }
              @include mq($md) {
                background-color: $sub-color;
              }
              @include mq($sm) {
                display: none;
              }
            }
            &:hover {
              img {
              opacity: 0;
              @include mq($md) {
                opacity: .7;
              }
              }
              .work_list_item_txt {
                visibility: visible;
                opacity: 1;
                transform: translate(-50%,-30px);
              }
            }
          } //work_list_item.item1
          .work_list_item.item2 {
            a {
              top: 70px;
              right: 0;
              transform: rotate(10deg);
              z-index: 2;
              @include mq($md) {
               display: none;
              }
            }
          }
        }//work_list_items
        .work_list_box {
          position: absolute;
          width: 480px;
          height: 350px;
          top: 30px;
          right: 5%;
          transform: rotate(15deg);
          background-color: $main-backcolor;
          box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
          @include mq($md) {
            top: -30px;
            left: 40%;
            right: 50%;
            margin: auto;
            height: 350px;
          }
          @include mq($sm) {
            display: none;
          }
        }
        .work_list_box.list2 {
          top: 10px;
          right: 5%;
          transform: rotate(-15deg);
          background-color: $sub-backcolor;
          box-shadow: rgb(16, 1, 75) 0px 20px 30px -10px;
          @include mq($md) {
            top: -30px;
            left: 40%;
            right: 50%;
            margin: auto;
          }
        }
      } //work_items
      @include mq($sm) {
        width: 100%;
      }
    } //work_list
    @include mq($md) {
      margin-bottom: 10%;
    }
    @include mq($xs) {
      margin-bottom: 0;
    }
  } //section work

  /**************************************************

    section skill

  ***************************************************/
  .skill {
    position: relative;
    height: 1100px;
    @include mq($md) {
      height: 2100px;
      }
    @include mq($sm) {
      height: 1800px;
      }
    @include mq($sm) {
      height: 1850px;
    }
    .title_backimg {
      position: absolute;
      top: -5%;
      right: -24%;
      left: auto;
      background-image: url('../img/skill.jpg');
      width: calc(50vw + 49%);
      height: 350px;
      @include mq($lg) {
        left: 2%;
        width: calc(50vw + 46%);
      }
      @include mq($md) {
        right: 0;
        width: calc(50vw + 30%);
      }
      @include mq($sm) {
        height: 70px;
        top: -10px;
      }
    } //title_backimg
    .skill_lists {
      position: relative;
      margin-top: $margin-top;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      font-family: 'Noto Serif JP', serif;
      z-index: 2;
      @include mq($md) {
        flex-direction: column;
      }
      .skill_list {
        position: absolute;
        padding: 30px;
        background-color: $main-backcolor;
        border-radius: 50%;
        box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, .2);
        opacity: 0;
        transform: translateY(50px) scale(0.5);
        visibility: hidden;
        transition: 1.5s;
        &:nth-of-type(odd) {
          &.scroll_animation.show:hover {
            background-color: rgb(183, 142, 183);
          }
        }
        &.scroll_animation.show {
          transform: none;
          opacity: 1;
          visibility: visible;
          animation: fluffy1 6s 5s ease-out forwards;
          @include mq($md) {
            animation: none;
          }
          &:hover {
            background-color: pink;
          }
          &.list1 {
            animation-delay: 1s;
          }
          &.list2 {
            animation-delay: 2.5s;
            transition-delay: 0.4s;
          }
          &.list3 {
            animation-delay: 3s;
            transition-delay: 0.6s;
          }
          &.list4 {
            animation-delay: 4.5s;
            transition-delay: 0.8s;
          }
          &.list5 {
            animation-delay: 6s;
            transition-delay: 1s;
          }
        }
        @keyframes fluffy1 {
          0% {
            transform: translateY(0); }
          5% {
            transform: translateY(0); }
          10% {
            transform: translateY(0); }
          20% {
            transform: translateY(-20px);}
          25% {
            transform: translateY(0);}
          30% {
            transform: translateY(-20px); }
          50% {
            transform: translateY(0); }
          100% {
            transform: translateY(0); } }
        &:nth-last-of-type(odd) {
          background-color: $sub-backcolor;
          @include mq($md) {
            background-color: $sub-color;
          }
          &::before {
            color: $main-color;
          }
        }
        &::before {
          content: "01";
          position: absolute;
          top: -28%;
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          height: 70px;
          text-align: center;
          font-size: 8rem;
          color: $sub-color;
          font-weight: bold;
          border-radius: 80px / 4px;
          @include mq($md) {
            top: -23%;
            font-size: 6rem;
          }
          @include mq($sm) {
            top: -28%;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 70%;
          height: 8px;
          box-shadow: 0 40px 15px rgba(0, 0, 0, .5);
          background-color: transparent;
          border-radius: 80px / 4px;
          @include mq($sm) {
            display: none;
          }
        }
        h2 {
          margin-top: 30px;
          font-size: 1.8rem;
          font-weight: bold;
          text-align: center;
          @include mq($sm) {
            margin-top: 10px;
          }
        }
        p {
          margin-top: 30px;
          padding: 0 25px 0 30px;
          font-size: 1.4rem;
          line-height: 1.6;
          @include mq($md) {
            margin-top: 20px;
          }
          @include mq($sm) {
            padding: 0 5px 0;
            line-height: 1.4;
          }
          @include mq($xs) {
            line-height: 1.6;
          }
        }
        &.list1 {
          height: 280px;
          width: 30%;
          top: 50%;
          left: 15%;
          width: 30%;
          @include mq($md) {
            height: 260px;
            width: 280px;
            left: 5%;
            margin: auto;
          }
          @include mq($sm) {
            height: 220px;
            width: 240px;
            top: -20px;
            left: 0;
            right: 0;
            margin: auto;
          }
          @include mq($xs) {
            height: 180px;
          }
        }
        &.list2 { 
          height: 280px;
          width: 30%;
          top: 50%;
          left: 60%;
          margin: auto;
          &::before {
            content: "02";
            @include mq($md) {
              top: -23%;
            }
            @include mq($sm) {
              top: -25%;
            }
            @include mq($xs) {
              top: -28%;
            }
          }
          @include mq($md) {
            height: 260px;
            width: 280px;
            left: 59%;
          }
          @include mq($sm) {
            height: 240px;
            width: 260px;
            top: 280px;
            left: 0;
            right: 0;
            margin: auto;
          }
          @include mq($xs) {
            height: 200px;
            width: 240px;
          }
        }
        &.list3 {
          height: 330px;
          width: 35%;
          top: 400px;
          left: -5%;
          &::before {
            content: "03";
            top: -23%;
            @include mq($md) {
              top: -18%;
            }
            @include mq($sm) {
              top: -21%;
            }
          }
          @include mq($lg) {
            left: -3%;
          }
          @include mq($md) {
            width: 360px;
            top: 400px;
            left: 0;
            right: 0;
            margin: auto;
          }
          @include mq($sm) {
            height: 280px;
            width: 300px;
            top: 600px;
          }
          @include mq($xs) {
            height: 270px;
            width: 240px;
            top: 600px;
          }
        }
        &.list4 {
          height: 330px;
          width: 35%;
          top: 400px;
          left: 0;
          right: 0;
          margin: auto;
          &::before {
            content: "04";
            top: -23%;
            @include mq($md) {
              top: -18%;
            }
            @include mq($sm) {
              top: -21%;
            }
          }
          @include mq($md) {
            width: 360px;
            top: 900px;
            left: 0;
            right: 0;
            margin: auto;
          }
          @include mq($sm) {
            height: 280px;
            width: 300px;
            top: 960px;
          }
          @include mq($xs) {
            height: 270px;
            width: 240px;
            top: 980px;
          }
        }
        &.list5 {
          height: 330px;
          width: 35%;
          top: 400px;
          left: 70%;
          &::before {
            content: "05";
            top: -23%;
            @include mq($md) {
              top: -18%;
            }
            @include mq($sm) {
              top: -21%;
            }
          }
          @include mq($lg) {
            left: 68%;
          }
          @include mq($md) {
            width: 360px;
            top: 1400px;
            left: 0;
            right: 0;
            margin: auto;
          }
          @include mq($sm) {
            height: 280px;
            width: 300px;
            top: 1330px;
          }
          @include mq($xs) {
            height: 300px;
            width: 240px;
            top: 1360px;
          }
        }
        @include mq($md) {
          background-color: $main-color;
        }
        @include mq($sm) {
          padding: 30px 40px;
        }
        @include mq($xs) {
          border-radius: 10px;
          padding: 20px;
        }
      } //skill_list
    } //skill_lists
  } //.skill


  /**************************************************

    section service

  ***************************************************/
  .service {
    margin-top: $margin-top;
    position: relative;
    .service_t {
      opacity: 0;
      visibility: hidden;
      transform: translateY(400px);
      transition: 2s;
      @include mq($md) {
        transform: translateY(500px);
      }
      &.show {
        position: fixed;
        width: 960px;
        top: 10%;
        left: 18%;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        @include mq($md) {
          width: 85%;
        }
        @include mq($sm) {
          width: 80%;
          left: 10%;
        }
        @include mq($xs) {
          width: 70%;
        }
      }
    }
    .service_lists {
      position: relative;
      height: 2500px;
      .service_list {
        position: absolute;
        top: 500px;
        left: 20%;
        width: 60%;
        font-size: 1.6rem;
        height: 400px;
        padding: 20px;
        font-family: 'Noto Serif JP', serif;
        margin-top: 50px;
        border-radius: 20px;
        background-color: rgb(249, 234, 236);
        box-shadow: 9px 13px 20px -2px rgba(0, 0, 0, 0.41);
        transform: translateY(100px);
        opacity: 0;
        visibility: hidden;
        transition: 1s;
        &:nth-of-type(2) .service_content {
          flex-direction: row-reverse;
          @include mq($sm) {
            flex-direction: column;
          }
        }
        .br-xs {
          display: none;
          @include mq($xs) {
            display: block;
          }
        }
        h2 {
          text-align: center;
          padding: 20px 20px 10px;
          font-size: 3rem;
          font-weight: bold;
          @include mq($sm) {
            font-size: 2.2rem;
            padding: 30px 10px 20px;
          }
          @include mq($xs) {
            font-size: 1.8rem;
            padding: 20px 10px 10px;
          }
        }
        .service_content {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          padding: 20px;
          height: 80%;
          .service_content_img {
            width: 45%;
            img {
              display: block;
              object-fit: cover;
              box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
              border-radius: 10px;
            }
          }
          .service_content_txt {
            width: 55%;
            p {
              line-height: 1.8;
              @include mq($xs) {
                font-size: 1.4rem;
              }
            }
            @include mq($sm) {
              width: 90%;
            }
          }
          @include mq($sm) {
            flex-direction: column;
            height: auto;
            padding: 10px;
          }
          @include mq($xs) {
            gap: 10px;
          }
        } //service_content
        .service_other_txt {
          padding: 0 20px;
          h3 {
            position: relative;
            font-size: 2rem;
            font-weight: bold;
            padding-left: 30px;
            @include mq($xs) {
              font-size: 1.6rem;
            }
            &::before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              top:0;
              transform: translateY(50%);
              background-image: url("../img/check.png");
              background-position: center;
              background-size: cover;
              height: 20px;
              width: 20px;
              @include mq($xs) {
                top: -7px;
              }
            }
            &:not(:nth-of-type(1)) {
              margin-top: 10px;
              @include mq($xs) {
                margin: 15px 0 5px;
              }
            }
          }
          p {
            padding-left: 30px;
            @include mq($xs) {
              font-size: 1.4rem;
            }
          }
        }
        &:nth-of-type(2) {
          top: 1000px;
          z-index: 10;
          background-color: rgb(251, 237, 251);
        }
        &:nth-of-type(3) {
          top: 1500px;
          z-index: 20;
        }
        &.scroll_animation.show {
          position: fixed;
          top: 23%;
          left: 20%;
          width: 60%;
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
          @include mq($md) {
            left: 10%;
            width: 80%;
          }
          @include mq($xs) {
            top: 20%;
          }
          &.card {
            position: absolute;
            top: 3%;
            left: 5%;
            height: 400px;
            width: 90%;
            &:nth-of-type(2) {
              top: 36%;
              @include mq($md) {
                top: 36%;
              }
              @include mq($sm) {
                top: 45%;
              }
              @include mq($xs) {
                top: 37%;
              }
            }
            &:nth-of-type(3) {
              top: 69%;
              @include mq($sm) {
                top: 88%;
              }
              @include mq($xs) {
                top: 72%;
              }
            }
            @include mq($sm) {
              height: 550px;
            }
            @include mq($xs) {
              top: 20px;
              height: 500px;
            }
          }
        }
        @include mq($md) {
          left: 10%;
          width: 80%;
          padding:0;
        }
        @include mq($sm) {
          width: 300px;
          left: 5%;
        }
        @include mq($sm) {
          margin-top: 0;
          height: 550px;
        }
        @include mq($xs) {
          height: 500px;
          width: 70%;
          font-size: 1.4rem;
        }
      } //service_list
    } //service_lists
    @include mq($sm) {
        padding-bottom: 250px;
      }
    @include mq($xs) {
      padding-bottom: 200px;
    }
  } //service

  /**************************************************

    section contact

  ***************************************************/
  .contact {
    margin-top: 250px;
    margin-bottom: $margin-bottom;
    .contact_t {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-250px);
      transition: 1.5s;
      @include mq($lg) {
        transform: translateY(-350px);
      }
      @include mq($md) {
        width: 80%;
      }
      @include mq($xs) {
        transform: translateY(-450px);
      }
    }
    .contact_lists {
      width: 70%;
      margin: 50px auto;
      &.scroll_animation {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
        transition: 2s;
        &.show {
          opacity: 1;
          visibility: visible;
          transform: none;
        }
      }
      .contact_list {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        font-size: 1.6rem;
        &:nth-of-type(1),
        &:nth-of-type(2) {
          &::after {
            position: absolute;
            content: '※ 必須';
            top: 7%;
            left: 5%;
            color: red;
            font-size: 7px;
          }
        }
        input {
          margin-top: 5px;
          height: 50px;
          font-size: 1.6rem;
          padding: 10px;
          cursor: none;
        }
        textarea {
          margin-top: 5px;
          height: 200px;
          font-size: 1.6rem;
          padding: 10px;
          resize: none;
          width: 100%;
          cursor: none;
        }
        .btbt {
          background-color: #eee;
          border: none;
          width: 15%;
          margin: 0 auto;
          transition: .5s;
          font-size: 1.4rem;
          border-radius: 5px;
          @include mq($sm) {
            width: 30%;
          }
          &:hover {
            opacity: 0.7;
            transform: translateY(-5px);
          }
        }
      }
      @include mq($sm) {
        width: 100%;
      }
    }
    @include mq($md) {
      margin-bottom: 50px;
    }
    @include mq($xs) {
      margin-top: 0;
    }
  } //contact
  /**************************************************

    comment

  ***************************************************/
  .comment {
    padding-bottom: 220px;
    .comment_video {
      width: 68%;
      opacity: 0.6;
      @include mq($xs) {
        width: 100%;
      }
    }
    @include mq($md) {
      padding-bottom: 0;
    }
  } //comment
} //main

/****************************************************


    footer


*****************************************************/
footer {
  height: 60px;
  background-color: rgb(78, 18, 68);
  display: grid;
  justify-items: center;
  align-items: center;
  small {
    color: #fff;
  }
} //footer



/**************************************************

    #cursor

***************************************************/

#cursor {
  transform: translate(0,0);
  pointer-events: none;
  position: fixed;
  top: -7px;    //座標調節（カーソル位置と円の中心を合わせる）
  left: -7px;   //座標調節（カーソル位置と円の中心を合わせる）
  width: 16px;   //カーソルの直径
  height: 16px;  //カーソルの直径
  background: $main-backcolor;
  border-radius: 50%;
  z-index: 999;
  transition: width .3s, height .3s, top .3s, left .3s;
  &.hov_{
    top: -12px;    //大きくなった分の座標調節
    left: -12px;   //大きくなった分の座標調節
    width: 32px;   //カーソルの直径
    height: 32px;  //カーソルの直径
    background: $main-backcolor;
  }
}

  